
.statistic {
  text-align: center;
}

.statistic-number {
  color: #ffb732;
  animation: scaleAnimation 0.5s ease-out forwards;
}

.statistic-number2 {
  color: #222d56;
  animation: scaleAnimation 0.5s ease-out forwards;
}

.statistic-number3 {
  color: #7c78b3;
  animation: scaleAnimation 0.5s ease-out forwards;
}
