/*.subtitle {
  font-size: 3em;
  line-height: 92%;
  text-transform: uppercase;
}*/

.lineSubtitle::before {
  content: "";
  display: inline-block;
  width: 55px;
  height: 6px;
  background: #33526d;
  vertical-align: middle;
  margin-bottom: 10px;
  margin-right: 5px;
}
