@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "impact";
  src: url("./fonts/impact.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "renogare";
  src: url("./fonts/Renogare-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "myriad-pro";
  src: url("./fonts/myriad-pro/MYRIADPRO-REGULAR.OTF");
  font-weight: normal;
  font-style: normal;
}