.OurTeam-block {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  position: relative;
  align-items: center;
  margin: 150px 0 0 0;
}

.cards {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 100px;
}

.card {
  flex: 1 1 230px;
  max-width: 270px;
  overflow: hidden;
  margin: 10px;
}

.OurTeam-content {
  display: flex;
  padding: 16px;
  color: #ffffff;
  text-align: left;
  height: 150px;
  align-items: flex-end;
}


.content-info-role {
  text-rendering: optimizeLegibility;
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 1200px) {
  .cards {
    max-width: 900px;
  }

  .card {
    margin: 10px;
  }
}

@media (max-width: 996px) {
  .cards {
    max-width: 600px;
  }
  .card {
    margin: 30px;
  }
}

@media (max-width: 768px) {
  .cards {
    max-width: 400px;
  }
  .card {
    margin-right: 10px;
  }
}
@media (max-width: 586px) {
  .cards {
    max-width: 300px;
  }
}

@media (max-width: 576px) {
  .cards {
    max-width: 300px;
  }
}

@media (max-width: 480px) {
  .cards {
    max-width: 250px;
  }

  .card {
    flex: 1 1 200px;
    max-width: 200px;
  }

  .OurTeam-content {
    padding: 8px;
    height: 120px;
  }

  .content-info-role {
    font-size: 14px;
    line-height: 20px;
  }

  .image img {
    width: 200px;
    height: 200px;
  }
}
