.title {
  font-family: "Oswald", sans-serif;
  letter-spacing: -0.06em;
}

.text {
  color: #33526d;
  font-family: "Roboto", sans-serif;
}

.btnProvocation {
  overflow: hidden;
  transition: width 1s ease-in-out;
  width: 56px;
}

.btnProvocation span {
  opacity: 0;
  transition: opacity 1s ease-in-out, width 1s ease-in-out;
  width: 0;
  white-space: nowrap;
}

.btnProvocation:hover {
  width: auto;
}

.btnProvocation:hover span {
  opacity: 1;
  width: auto;
  margin-left: 8px;
}
