.consultorias-banner-title {
  position: relative;
  isolation: isolate;
}

.consultorias-banner-titlee::before {
  content: "Consultoría en permanencia estudiantil";
  -webkit-text-stroke: 30px #fff;
  z-index: -1;
  position: absolute;
  inset: 0;
}

.consultorias-banner-titlee::after {
  content: "Consultoría en permanencia estudiantil";
  -webkit-text-stroke: 15px #222D56;
  z-index: -1;
  position: absolute;
  inset: 0;
}
